#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Qt;KDE;AudioVideo;
Comment=Schedule TV Recordings
Comment[en_GB]=Schedule TV Recordings
Comment[es]=Programar grabaciones de TV
Comment[et]=TV salvestamine ajastamine
Comment[fr]=Programmer les enregistrements TV
Comment[gl]=Programar a gravación da TV
Comment[it]=Pianifica le registrazioni TV
Comment[km]=កម្មវិធី​ថត​ទូរទស្សន៍
Comment[nb]=Planlegg TV-opptak
Comment[nds]=Feernsehopnahmen planen
Comment[pt]=Agendar as Gravações de TV
Comment[pt_BR]=Agendar as gravações de TV
Comment[sv]=Schemalägg tv-inspelningar
Comment[tr]=TV Kayıtlarını Zamanla
Comment[uk]=Запланувати ТБ-записи
Comment[x-test]=xxSchedule TV Recordingsxx
Exec=lintvscheduler
GenericName=Schedule TV Recordings
GenericName[en_GB]=Schedule TV Recordings
GenericName[es]=Programar grabaciones de TV
GenericName[et]=TV salvestamine ajastamine
GenericName[fr]=Programmer les enregistrements TV
GenericName[gl]=Programar a gravación da TV
GenericName[it]=Pianifica le registrazioni TV
GenericName[km]=កម្មវិធី​ថត​ទូរទស្សន៍
GenericName[nb]=Planlegg TV-opptak
GenericName[nds]=Feernsehopnahmen planen
GenericName[pt]=Agendar as Gravações de TV
GenericName[pt_BR]=Agendar as gravações de TV
GenericName[sv]=Schemalägg tv-inspelningar
GenericName[tr]=TV Kayıtlarını Zamanla
GenericName[uk]=Запланувати ТБ запис
GenericName[x-test]=xxSchedule TV Recordingsxx
Icon=lintvscheduler
Name=LinTV Scheduler
Name[en_GB]=LinTV Scheduler
Name[es]=Programador de LinTV
Name[et]=LinTV ajastaja
Name[fr]=Gestionnaire de programmes LinTV
Name[gl]=Programadro LinTV
Name[it]=Pianificatore LinTV
Name[km]=កម្មវិធី​កំណត់​​ពេលវេលា​របស់ LinTV
Name[nb]=LinTV planlegger
Name[nds]=LinTV-Planer
Name[pt]=Agenda do LinTV
Name[pt_BR]=Agenda do LinTV
Name[sv]=Lintv schemaläggning
Name[tr]=LinTV Kayıt Zamanlayıcı
Name[uk]=Інструмент планування LinTV
Name[x-test]=xxLinTV Schedulerxx
StartupNotify=true
Terminal=false
Type=Application
X-DBUS-StartupType=Unique
