#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Qt;KDE;AudioVideo;
Comment=Watch and Record TV
Comment[en_GB]=Watch and Record TV
Comment[es]=Ver y grabar de la TV
Comment[et]=TV vaatamine ja salvestamine
Comment[fr]=Regarder et enregistrer la TV
Comment[gl]=Ver e gravar a TV
Comment[it]=Guarda e registra la TV
Comment[km]=មើល​ទូរទ្សសន៍ និង​ថត​ទូរទស្សន៍
Comment[nb]=Se på og ta opp TV
Comment[nds]=Feernsehn kieken un opnehmen
Comment[pt]=Ver e Gravar a TV
Comment[pt_BR]=Veja e grave TV
Comment[sv]=Titta på och spela in tv
Comment[tr]=TV İzle ve Kaydet
Comment[uk]=Перегляд і запис телепрограм
Comment[x-test]=xxWatch and Record TVxx
Exec=lintv
GenericName=Watch and Record TV
GenericName[en_GB]=Watch and Record TV
GenericName[es]=Ver y grabar de la TV
GenericName[et]=TV vaatamine ja salvestamine
GenericName[fr]=Regarder et enregistrer la TV
GenericName[gl]=Ver e gravar a TV
GenericName[it]=Guarda e registra la TV
GenericName[km]=មើល និង​ថត​ទូរទស្សន៍
GenericName[nb]=Se på og ta opp TV
GenericName[nds]=Feernsehn kieken un opnehmen
GenericName[nl]=TV kijken en opnemen
GenericName[pt]=Ver e Gravar a TV
GenericName[pt_BR]=Veja e grave TV
GenericName[sv]=Titta på och spela in tv
GenericName[tr]=TV İzle ve Kaydet
GenericName[uk]=Перегляд і запис телепрограм
GenericName[x-test]=xxWatch and Record TVxx
Icon=lintv
Name=LinTV
Name[de]=LinTV
Name[en_GB]=LinTV
Name[es]=LinTV
Name[et]=LinTV
Name[fr]=LinTV
Name[ga]=LinTV
Name[gl]=LinTV
Name[it]=LinTV
Name[km]=LinTV
Name[nb]=LinTV
Name[nds]=LinTV
Name[nl]=LinTV
Name[pt]=LinTV
Name[pt_BR]=LinTV
Name[sv]=Lintv
Name[tr]=LinTV
Name[uk]=LinTV
Name[x-test]=xxLinTVxx
StartupNotify=true
Terminal=false
Type=Application
X-DBUS-StartupType=Unique
